.backgroundRed {
    background-color: red;
}

.backgroundYellow {
    background-color: yellow;
}

.backgroundGreen {
    background-color: green;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

td {
    padding: 8px;
    border: 1px solid #dddddd;
    text-align: center;
    font-weight: bold;
}

.td1 {
    font-weight: bold;
}

.buttonSet {
    display: flex;
    justify-content: end;
}